.new-expense__action-otp button{
     padding: 10px 19px 10px 19px;
      background-color: black;
      color: white;
        border: black;
        border-radius: 9px;
        margin-left: 4px;

}

.new-expense__action-otp{
    text-align: center;
}