.home-container {
    padding: 40px;
    /* background-color:teal; */
    border: 5px solid white;
    border-radius:10px;

}
/* 
h1{
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 100vh;
} */